.tasks__header {
  color: #00a800;
  text-align: center;
}

.main-section__navbar--button {
  margin-left: 6px;
  margin-top: -3px;
}

.main-section__navbar--title {
  color: #00a800;
  padding-left: 8px;
  & span {
    line-height: 56px;
  }
}